{% set title = 'Code Quiz | DonorDrive' %}

{% extends '../global/_base.twig' %}

{% block content %}
    <section class="body__streamer">
        {% include '../components/_header.twig' %}
        <section class="streamer__stream-chat" id="content">
            {% include '../components/_stream.twig' %}
            {% include '../components/_chat.twig' %}
        </section>
        <section class="streamer__activity-feed">
            {% include '../components/_activity-feed.twig' %}
        </section>
    </section>
{% endblock %}
