<!doctype html>
<html lang="en">
{% include '_head.twig' %}

<body style="padding: 10px;">
    {% include '../components/_skip-link.twig' %}

    {% block content %}{% endblock %}

    {% include '_scripts.twig' %}
</body>
</html>
