<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>{% block head_title %}{{ title }}{% endblock %}</title>

    <meta name="description" content="Code quiz for DonorDrive's Front-End Developer position.">
    <meta name="theme-color" content="#61b203">

    <!-- Favicons -->
    <link rel="shortcut icon" href="./images/favicons/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="./images/favicons/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="./images/favicons/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="./images/favicons/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="./images/favicons/apple-touch-icon-57-precomposed.png">

    <!-- Main CSS -->
    <link href="./css/main.css" rel="stylesheet">
</head>
