.button {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    width: 60px;
    height: 100%;

    transition-duration: @transition-duration;
    transition-property: background-color;
    text-align: center;

    color: white;
    border-radius: @border-radius;
    background-color: @green;

    font-family: @headingFont;
    font-size: 10px;

    .screen-lg ({
        width: 150px;
        padding: @lg-padding @xl-padding;

        text-transform: uppercase;

        font-size: 16px;
        font-weight: 700;
    });
    
    &:hover {
        background-color: darken(@green, 5%);
    }
    
    .button__icon {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 70%;

        .screen-lg ({
            display: none;
        });
    }
    
    .button__icon svg {
        height: 25px;
    }
    
    .button__text {
        display: flex;
        align-items: flex-start;
        justify-content: center;

        width: 100%;
        height: 30%;
        
        .screen-lg ({
            align-items: center;
            height: 100%;
        });
    }
}
