<div class="activity-feed__feed">
    <ul class="feed__list">
        
    </ul>
</div>
<div class="activity-feed__button">
    <a class="button" href="https://support.sanfordhealthfoundation.org/index.cfm?fuseaction=cms.page&id=1004" target="_blank" rel="noopener">
        <div class="button__icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.29 9" aria-labelledby="donateTitle">
                <title id="donateTitle">donate icon</title>
                <path class="icon-white" d="M10.29,3.21V5.36a.2.2,0,0,1-.06.15.23.23,0,0,1-.16.06H9.43V8.36a.58.58,0,0,1-.19.45A.6.6,0,0,1,8.79,9H1.5A.62.62,0,0,1,1,8.81a.61.61,0,0,1-.18-.45V5.57H.21A.21.21,0,0,1,0,5.36V3.21A.21.21,0,0,1,.21,3h3A1.46,1.46,0,0,1,2.1,2.56,1.44,1.44,0,0,1,1.66,1.5,1.44,1.44,0,0,1,2.1.44,1.46,1.46,0,0,1,3.16,0,1.36,1.36,0,0,1,4.29.52l.85,1.1L6,.52A1.34,1.34,0,0,1,7.12,0,1.48,1.48,0,0,1,8.19.44,1.43,1.43,0,0,1,8.62,1.5a1.43,1.43,0,0,1-.43,1.06A1.48,1.48,0,0,1,7.12,3h3a.23.23,0,0,1,.16.06A.2.2,0,0,1,10.29,3.21ZM3.16,2.14H4.47L3.62,1.07A.56.56,0,0,0,3.16.86.61.61,0,0,0,2.71,1a.62.62,0,0,0-.19.46A.62.62,0,0,0,2.71,2,.61.61,0,0,0,3.16,2.14ZM6.21,7.79V3H4.07V7.79a.3.3,0,0,0,.12.26.52.52,0,0,0,.31.09H5.79a.49.49,0,0,0,.3-.09A.3.3,0,0,0,6.21,7.79ZM7.58,2a.62.62,0,0,0,.19-.46A.62.62,0,0,0,7.58,1,.63.63,0,0,0,7.12.86a.57.57,0,0,0-.46.21L5.83,2.14H7.12A.63.63,0,0,0,7.58,2Z"/>
            </svg>
        </div>
        <span class="button__text">Donate</span>
    </a>
</div>
