<nav>
    <ul class="nav__buttons">
        <li class="buttons__both hide-on-mobile">
            <a href="/">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 22" aria-labelledby="streamChatTitle">
                    <title id="streamChatTitle">stream and chat icons</title>
                    <path class="icon-dark" d="M22,1.43v15H1v-15H22m1-1H0v17H23V.43Z"/>
                    <polygon class="icon-dark" points="16 8.93 9 12.43 9 5.43 16 8.93"/>
                    <path class="icon-dark" d="M32,15.86a3.51,3.51,0,0,1-.63,2,5.37,5.37,0,0,1-1.75,1.58c.06.14.13.27.19.39a1.79,1.79,0,0,0,.22.34l.2.26.1.12.43.47,0,.06,0,.06a.14.14,0,0,1,0,.06.07.07,0,0,1,0,.05s0,0,0,.06a.34.34,0,0,1-.12.2.23.23,0,0,1-.19.06,7.82,7.82,0,0,1-.77-.14,7.5,7.5,0,0,1-2.48-1.14,9.56,9.56,0,0,1-1.58.14,7.47,7.47,0,0,1-4.21-1.18l.37,0,.42,0A9.34,9.34,0,0,0,25,18.88a7.63,7.63,0,0,0,2.36-1.15,6,6,0,0,0,1.72-1.89,4.69,4.69,0,0,0,.59-2.27,4.53,4.53,0,0,0-.2-1.36,5.45,5.45,0,0,1,1.82,1.59A3.49,3.49,0,0,1,32,15.86Zm-4.27-4.58a3.58,3.58,0,0,1,.84,2.29,3.63,3.63,0,0,1-.84,2.3,5.69,5.69,0,0,1-2.29,1.66,8,8,0,0,1-3.15.61A9.56,9.56,0,0,1,20.71,18a7.4,7.4,0,0,1-3.25,1.29h0a.29.29,0,0,1-.19-.08.44.44,0,0,1-.08-.11l0-.07s0,0,0-.06a.13.13,0,0,1,0-.06v0l0-.07,0,0,.16-.19.16-.16.19-.21.24-.31a1.86,1.86,0,0,0,.22-.35c.06-.11.13-.25.19-.39a5.26,5.26,0,0,1-1.75-1.58,3.51,3.51,0,0,1-.63-2,3.58,3.58,0,0,1,.84-2.29,5.61,5.61,0,0,1,2.29-1.67,8.46,8.46,0,0,1,6.31,0A5.61,5.61,0,0,1,27.73,11.28Z"/>
                </svg>
                <span>Stream and chat</span>
            </a>
        </li>
        <li class="buttons__stream">
            <a href="/stream">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 22" aria-labelledby="streamTitle">
                    <title id="streamTitle">stream icon</title>
                    <rect class="icon-dark" x="1.5" y="1" width="29" height="20"/>
                    <polygon class="icon-white" points="20.5 11 13.5 14.5 13.5 7.5 20.5 11"/>
                </svg>
                <span>Stream only</span>
            </a>
        </li>
        <li class="buttons__chat">
            <a href="/chat">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 22" aria-labelledby="chatTitle">
                    <title id="chatTitle">chat icon</title>
                    <path
                    class="icon-dark"
                    d="M26,11.71a4.36,4.36,0,0,1-.79,2.51,6.62,6.62,0,0,1-2.18,2c.08.18.15.34.23.49a2.87,2.87,0,0,0,.28.43l.25.32a1.69,1.69,0,0,0,.2.23l.46.51.05.07,0,.08,0,.07v.14a.41.41,0,0,1-.14.25.39.39,0,0,1-.25.08l-1-.18a9.46,9.46,0,0,1-3.1-1.43,11.19,11.19,0,0,1-2,.18A9.3,9.3,0,0,1,12.88,16l.56,0h.42a12,12,0,0,0,3.45-.5,10.07,10.07,0,0,0,2.94-1.44,7.61,7.61,0,0,0,2.15-2.37,5.83,5.83,0,0,0,.49-4.53,6.59,6.59,0,0,1,2.27,2A4.35,4.35,0,0,1,26,11.71ZM20.67,6a4.47,4.47,0,0,1,0,5.73,7.11,7.11,0,0,1-2.87,2.09,10,10,0,0,1-3.94.76,11.19,11.19,0,0,1-2-.18,9.26,9.26,0,0,1-3.1,1.43,8.31,8.31,0,0,1-1,.18h0a.35.35,0,0,1-.23-.09.34.34,0,0,1-.11-.17l0-.06a.22.22,0,0,1,0-.08v-.07l0-.07,0-.08,0-.07.18-.2.19-.2.24-.27.3-.39a2.44,2.44,0,0,0,.28-.43c.08-.15.15-.31.23-.49a6.52,6.52,0,0,1-2.18-2A4.38,4.38,0,0,1,6,8.86,4.5,4.5,0,0,1,7.05,6,7.06,7.06,0,0,1,9.91,3.91a10.08,10.08,0,0,1,3.95-.77,10,10,0,0,1,3.94.77A7.09,7.09,0,0,1,20.67,6Z"/>
                </svg>
                <span>Chat only</span>
            </a>
        </li>
    </ul>
    <a href="/" class="nav__cancel hide-on-desktop">
        <span>Cancel</span>
    </a>
    <a href="/" class="nav__toggle hide-on-desktop">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4.29 15.71" aria-labelledby="menuTitle">
            <title id="menuTitle">menu icon</title>
            <path class="icon-green" d="M4.29,1.07V3.21A1,1,0,0,1,4,4a1,1,0,0,1-.76.32H1.07A1,1,0,0,1,.31,4,1,1,0,0,1,0,3.21V1.07A1,1,0,0,1,.31.31,1,1,0,0,1,1.07,0H3.21A1,1,0,0,1,4,.31,1,1,0,0,1,4.29,1.07Zm0,5.72V8.93A1.08,1.08,0,0,1,3.21,10H1.07a1,1,0,0,1-.76-.31A1,1,0,0,1,0,8.93V6.79A1,1,0,0,1,.31,6a1,1,0,0,1,.76-.32H3.21A1,1,0,0,1,4,6,1,1,0,0,1,4.29,6.79Zm0,5.71v2.14a1.08,1.08,0,0,1-1.08,1.07H1.07a1,1,0,0,1-.76-.31A1,1,0,0,1,0,14.64V12.5a1,1,0,0,1,.31-.76,1,1,0,0,1,.76-.31H3.21A1.08,1.08,0,0,1,4.29,12.5Z"/>
        </svg>
    </a>
</nav>
