.streamer__activity-feed {
    position: relative;
    z-index: 0;

    display: flex;
    align-items: stretch;
    justify-content: space-between;

    padding: 0 @md-padding 0 0;
}

.activity-feed__feed {
    overflow-x: scroll;

    width: calc(100% - 92px);
    padding: @md-padding 0;

    .screen-lg ({
        width: calc(100% - 182px);
    });
    
    ul {
        position: relative;

        display: flex;
        align-items: stretch;

        width: 100%;

        list-style-type: none;
        
        &.animate {
            li {
                transform: translate(100%, 0%);
            }
            
            li:first-of-type {
                position: absolute;
                z-index: 0;
                bottom: 0;
                left: 0;

                height: 100%;

                transform: translate(0%, 0%);
            }
        }
        
        &.magic {
            li {
                transition-duration: 0s;
            }
        }
    }
    
    li {
        position: relative;
        z-index: 100;

        width: 33.33%;
        height: 58px;
        padding-left: 16px;

        transition-duration: @long-transition-duration;
        transition-property: transform;

        .screen-lg ({
            position: static;

            display: flex;
            align-items: stretch;
        });
    }
    
    .item__badge {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 70%;

        border: 1px solid @lightestGray;
        border-bottom: none;
        border-top-left-radius: @border-radius;
        border-top-right-radius: @border-radius;
        background-color: white;

        .screen-lg ({
            width: 60px;
            height: auto;

            border-right: none;
            border-bottom: 1px solid @lightestGray;
            border-top-right-radius: 0;
            border-bottom-left-radius: @border-radius;
        });
        
        p {
            margin: 0;

            color: @green;

            font-family: 'Futura LT', sans-serif;
        }
    }
    
    .item__description {
        position: relative;

        display: flex;
        align-items: flex-start;

        height: 30%;

        border: 1px solid @lightestGray;
        border-top: none;
        border-bottom-right-radius: @border-radius;
        border-bottom-left-radius: @border-radius;
        background-color: white;

        .screen-lg ({
            align-items: center;
            flex-wrap: wrap;

            width: calc(100% - 60px);
            height: auto;
            padding: 10px 100px 10px 14px;

            border-top: 1px solid @lightestGray;
            border-top-right-radius: @border-radius;
            border-bottom-left-radius: 0;
        });
    }
    
    .description__title,
    .description__message {
        display: none;

        .screen-lg ({
            display: block;
            overflow: hidden;

            width: 100%;
            margin: 0;

            white-space: nowrap;
            text-overflow: ellipsis;

            color: @darkGray;
        });
    }
    
    .description__title {
        font-size: 14px;
        line-height: 18px;
    }
    
    .description__message {
        font-size: 12px;
        line-height: 16px;
    }
    
    .description__time {
        width: 100%;
        margin: 0;

        text-align: center;

        color: @gray;

        font-size: 10px;

        .screen-lg ({
            position: absolute;
            top: 10px;
            right: 10px;

            width: auto;

            text-align: right;
        });
    }
    
    img {
        width: 30px;
    }
    
    a {
        display: flex;
        align-items: center;

        padding: 0 @lg-padding;

        border: 1px solid @lightestGray;
        border-radius: @border-radius;
    }
}

.activity-feed__button {
    display: flex;
    align-items: center;

    padding: @md-padding 0;
}

html {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
