html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.body__streamer {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.streamer__stream-chat {
    display: flex;
    align-items: stretch;
    flex: 1;
    flex-wrap: wrap;

    width: 100%;

    background-color: @lightestGray;
    border-top: 1px solid @lightestGray;
    border-bottom: 1px solid @lightestGray;
    
    &.chat {
        .stream-chat__stream {
            display: none;
        }
    }
    
    &.stream {
        .stream-chat__chat {
            display: none;
        }
    }
}

.screen-lg ({
    .streamer__stream-chat.stream {
        .stream-chat__stream {
            width: 100%;
        }
        
        .stream-chat__chat {
            display: none;
        }
    }
    
    .streamer__stream-chat.chat {
        .stream-chat__chat {
            width: 100%;
        }
        
        .stream-chat__stream {
            display: none;
        }
    }
});

.stream-chat__stream {
    width: 100%;

    .screen-lg ({
        width: calc(100% - 390px);
    });
}

.stream-chat__chat {
    width: 100%;

    .screen-lg ({
        width: 390px;
    });
}
