header {
    position: relative;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    @media only screen and (min-width: @screen-lg) {
        padding: 12px 20px;
    }
    
    h1 {
        margin: 0;
        padding: 26px 20px;

        font-size: 16px;
        
        @media only screen and (min-width: @screen-lg) {
            padding: 0;
        }
    }
}
