nav {
    .screen-lg-max ({
        li:not(.hide-on-mobile) {
            border-top-left-radius: @border-radius;
            border-top-right-radius: @border-radius;
        }
        
        li:not(.hide-on-mobile) ~ li:not(.hide-on-mobile) {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    });
    ul {
        position: fixed;
        bottom: 0;
        left: 50%;

        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-end;

        width: calc(100% - 20px);
        margin: 0 auto;

        list-style-type: none;

        transition-duration: @transition-duration;
        transition-property: bottom;
        transform: translate(-50%, 100%);
        pointer-events: none;

        opacity: 0;
        border: 1px solid @lightestGray;
        border-top: none;
        border-radius: @border-radius;
        background-color: white;

        .screen-lg ({
            position: relative;
            bottom: auto;

            width: auto;
            margin: 0;

            transition-duration: 0s;
            transform: translate(-50%, 0%);
            pointer-events: all;

            opacity: 1;
            border: none;
        });
    }
    
    li {
        position: relative;
        z-index: 100;

        width: 100%;

        border-top: 1px solid @lightestGray;

        .screen-lg ({
            width: auto;

            border-right: 1px solid @lightestGray;
            border-bottom: 1px solid @lightestGray;
            
            &:first-of-type {
                border-left: 1px solid @lightestGray;
                border-top-left-radius: 4px;
                border-top-right-radius: 0;
                border-bottom-left-radius: @border-radius;
            }
            
            &:last-of-type {
                border-bottom: 1px solid @lightestGray;
                border-top-right-radius: @border-radius;
                border-bottom-right-radius: @border-radius;
            }
        });
        
        a {
            display: flex;
            align-items: center;

            color: @darkGray;
        }
    }
    
    a {
        display: block;

        padding: @top-bottom-padding @sm-padding;

        .screen-lg ({
            padding: @top-bottom-padding @md-padding;
        });
    }
    
    span {
        display: block;

        margin-left: 8px;

        .screen-lg ({
            position: absolute;

            overflow: hidden;

            text-indent: -1000px;
        });
    }
    
    svg {
        display: block;

        width: 30px;
        height: 20px;
    }
    
    .nav__toggle {
        padding: @top-bottom-padding @lg-padding;
        
        svg {
            width: 4px;
        }
    }
    
    .nav__cancel {
        position: fixed;
        bottom: 0;
        left: 50%;

        width: calc(100% - 20px);
        margin-top: 10px;

        transition-duration: @transition-duration;
        transition-property: bottom;
        transform: translate(-50%, 100%);
        pointer-events: none;

        opacity: 0;
        color: @red;
        border: 1px solid @lightestGray;
        border-radius: @border-radius;
        background-color: white;
    }
}

body {
    &::after {
        position: fixed;
        z-index: 0;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        content: '';
        transition-duration: @transition-duration;
        pointer-events: none;

        opacity: 0;
        background-color: @transparentBlack;
    }
    
    &.overlay {
        nav {
            ul {
                bottom: 100px;

                transform: translate(-50%, 0%);
                pointer-events: all;

                opacity: 1;
            }
        }
        
        .nav__cancel {
            bottom: 40px;

            transform: translate(-50%, 0%);
            pointer-events: all;

            opacity: 1;

            .screen-lg ({
                display: none;
            });
        }
        
        &::after {
            opacity: 1;

            .screen-lg ({
                display: none;
            });
        }
    }
}
