.skip-link {
    position: fixed !important;
    z-index: -1;
    top: -1000px;
    
    opacity: 0;
    height: 58px;
    width: 300px;
    text-align: center;
    
    &:focus,
    &:active,
    &:hover {
        position: fixed;
        z-index: 10000;
        top: 20px;
        left: 20px;
        
        opacity: 1;
    }
}

:target::before {
    display: block;
    
    height: 90px;
    margin: -90px 0 0;
    
    content: '';
}
