@font-face {
    font-family: 'Droid Sans';

    font-display: swap;
    src: url("../fonts/DroidSans-Regular.woff") format("woff");
}

@font-face {
    font-family: 'Droid Sans';
    font-weight: 700;

    font-display: swap;
    src: url("../fonts/DroidSans-Bold.woff") format("woff");
}

@font-face {
    font-family: 'Open Sans';

    font-display: swap;
    src: url("../fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 700;

    font-display: swap;
    src: url("../fonts/OpenSans-Bold.woff") format("woff");
}

@font-face {
    font-family: 'Futura LT';

    font-display: swap;
    src: url("../fonts/FuturaLT-Book.woff") format("woff");
}

@font-face {
    font-family: 'Futura LT';
    font-weight: 700;

    font-display: swap;
    src: url("../fonts/FuturaLT-Bold.woff") format("woff");
}
