.icon-dark {
    fill: @lightestGray;
}

.icon-white {
    fill: white;
}

.icon-green {
    fill: @green;
}

@media only screen and (min-width: @screen-lg) {
    .active {
        .icon-dark {
            fill: @gray;
        }
    }
}
