.hide-on-mobile {
    display: none;
    
    .screen-lg ({
        display: block;
    });
}

.hide-on-desktop {
    .screen-lg ({
        display: none;
    });
}

.hide-on-mobile-flex {
    display: none;
    
    .screen-lg ({
        display: flex;
    });
}

.show-hidden {
    .hide-on-desktop {
        display: block;
    }
}
